* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color:#F5F5F5;
    height: 90px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#sneakers-logo {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-self: center;
    width: 500px;
    height: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-right: 110px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#search-icon {
    width: 20px;
    align-self: center;
    margin-left: 5px;
}

#search-bar {
    position: relative;
    width: 500px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
}

nav {
    display: flex;
    float: right;
}

#keranjang, #notifikasi, #pesan {
    margin-top: 10px;
    margin-left: 20px;
    align-self: center;
}

#akun-nama {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
    align-self: center;
}

/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

main {
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: repeat(3, 240px);
    margin-top: 25px;
}

.sepatu {
    /* border: 2px solid black; */
    padding-left: 5px;
    width: 270px;
    height: 220px;
    background-color: #E6E6E3;
    border-radius: 10px;
}

/* .kanan {
    margin-left: 5px;
} */

.foto-sepatu {
    width: 150;
    height: 100px;
}

h3 {
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 3px;
}

h2 {
    font-size: 27px;
    margin-bottom: 3px;
}

.bintang {
    display: flex;
    align-items: center;
}

.svg-bintang {
    margin-left: 5px;
}

/* svg {
    margin-left: 5px;
} */

.p-bintang {
    margin-top: 3px;
    margin-left: 4px;
}


button {
    margin-top: 2px;
}

/* CONTAINER-2 */
/* .container-2 {

} */